html, body {
    height: 100%;
    margin: 0;
}
body {
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    margin: 20px;
    border: 3px solid white;
}
p {
    margin: 20px;
    color: white;
    font-size: 150%;
    font-family: "roboto";
    text-align: center;
}